@import "tailwindcss";

.scrollbar::-webkit-scrollbar{
  width: 10px;
}
.scrollbar::-webkit-scrollbar-track{
  @apply bg-slate-100/10 
}
.scrollbar::-webkit-scrollbar-thumb{
  @apply bg-slate-200/50 rounded-full
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}   